In [2]:
import pandas as pd

# For this part, we read in authors data and update bibtex key.

In [6]:
mergeable = pd.read_csv("merged_publications.csv", index_col = "id")
authors = pd.read_csv("authors.csv")
authors_pubs = pd.read_csv("authors_publications.csv")

d:\Programming\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3229: DtypeWarning: Columns (3,5,7,8,11,16,18,19,20,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The first 467 pubs have bibtex key as designation.

In [161]:
mergeable.loc[1:467, "bibtexkey"] = mergeable.loc[1:467, "designation"]

In [162]:
mergeable["bibtexkey"] = mergeable["bibtexkey"].astype(str)

In [163]:
need_fix = ~(mergeable["bibtexkey"].str.contains(r'[A-Za-z]', regex = True))
to_fix = mergeable[need_fix]

In [164]:
to_fix_with_join = to_fix.reset_index().merge(authors_pubs, how = 'inner', left_on = "id", right_on = 'publication_id')

In [165]:
to_fix_with_authors = to_fix_with_join.merge(authors, how = "inner", left_on = "author_id", right_on = "id")

In [166]:
to_fix_grouped = to_fix_with_authors.groupby("id_x").first()
to_fix_grouped

,designation,bibtexkey,year,entry_type_id,address,annote,book_title,chapter,crossref,edition,...,first,east_asian_order,email,institution_y,biography,modified,orcid_id,deceased,ojs_author_id,org_script_name
id_x,,,,,,,,,,,,,,,,,,,,,
60627,OSP 2,60627,1987,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Aage,0,,,,2022-06-20 14:39:25,,0,NaN,
61820,Adab,61820,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Zhi,1,,,,2021-11-14 20:17:42,,0,NaN,
69162,OIP 011,69162,1929,2.0,Chicago,NaN,NaN,NaN,NaN,NaN,...,Edward,0,,,,2021-11-22 22:10:26,,0,NaN,
98673,RSO 90,98673,2017,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Angela,0,NaN,Sapienza Universit√† di Roma,,2022-07-19 15:51:33,,0,NaN,NaN
117910,OIP 1111,117910,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Richard L.,0,,,,2021-11-14 17:35:47,,0,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359497,"OBO 157, 023 TH 85.86",1359497,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Dominique,0,,,,NaT,,0,NaN,
1359498,OBO 257,1359498,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Dominique,0,,,,NaT,,0,NaN,
1359501,"Adab Al-Rafidayn 63, 83-92 no. 1",1359501,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sa‚Äôad Salman,0,NaN,NaN,NaN,NaT,NaN,0,NaN,NaN
1359502,"Adab Al-Rafidayn 63, 83-92 no. 2",1359502,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sa‚Äôad Salman,0,NaN,NaN,NaN,NaT,NaN,0,NaN,NaN
1359505,AJSL 34,1359505,1918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Elihu,0,,,,NaT,,0,NaN,

# For the publications that have no authors, we leave the bibtexkey as it is.

In [167]:
not_none = (to_fix_grouped["last"].fillna("").str.len() > 0) & (to_fix_grouped["year"].fillna("").str.len() > 0)

In [168]:
to_fix_grouped.loc[not_none, "bibtexkey"] = to_fix_grouped.loc[not_none, "last"] + to_fix_grouped.loc[not_none, "year"]

In [169]:
to_fix_grouped

,designation,bibtexkey,year,entry_type_id,address,annote,book_title,chapter,crossref,edition,...,first,east_asian_order,email,institution_y,biography,modified,orcid_id,deceased,ojs_author_id,org_script_name
id_x,,,,,,,,,,,,,,,,,,,,,
60627,OSP 2,Westenholz1987,1987,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Aage,0,,,,2022-06-20 14:39:25,,0,NaN,
61820,Adab,Yang1989,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Zhi,1,,,,2021-11-14 20:17:42,,0,NaN,
69162,OIP 011,Chiera1929,1929,2.0,Chicago,NaN,NaN,NaN,NaN,NaN,...,Edward,0,,,,2021-11-22 22:10:26,,0,NaN,
98673,RSO 90,Greco2017,2017,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,Angela,0,NaN,Sapienza Universit√† di Roma,,2022-07-19 15:51:33,,0,NaN,NaN
117910,OIP 1111,Zettler1993,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Richard L.,0,,,,2021-11-14 17:35:47,,0,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359497,"OBO 157, 023 TH 85.86",Charpin2012,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Dominique,0,,,,NaT,,0,NaN,
1359498,OBO 257,Charpin2012,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Dominique,0,,,,NaT,,0,NaN,
1359501,"Adab Al-Rafidayn 63, 83-92 no. 1",Fahad2012,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sa‚Äôad Salman,0,NaN,NaN,NaN,NaT,NaN,0,NaN,NaN
1359502,"Adab Al-Rafidayn 63, 83-92 no. 2",Fahad2012,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sa‚Äôad Salman,0,NaN,NaN,NaN,NaT,NaN,0,NaN,NaN
1359505,AJSL 34,Grant1918,1918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Elihu,0,,,,NaT,,0,NaN,

In [170]:
mergeable.loc[to_fix_grouped.index] = to_fix_grouped

In [171]:
mergeable.to_csv("merged_publications_bibtex.csv")

# We also deal with duplicate bibtexkeys here.

In [156]:
for bibtexkey in mergeable["bibtexkey"].unique():
    occurences = sum(mergeable["bibtexkey"] == bibtexkey)
    if occurences <= 1:
        continue
    idx = 0
    for id, row in mergeable[mergeable["bibtexkey"] == bibtexkey].iterrows():
        mergeable.loc[id, "bibtexkey"] += "-" + str(idx)
        idx += 1

In [1]:
# Write to directory.
mergeable.to_csv("merged_publications_bibtex.csv")

NameError: name 'mergeable' is not defined